body{
	background-image: url("/static/images/grey.png");
}



p{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color:#a3a9aa;
font-size: 40px;
text-align: left;
}



#header{

	position: absolute;
	top: 0;
	left: 0;
	height: 0%;
	width: 100%;
	background-image: linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -o-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(59,63,66)),
		color-stop(0.5, rgb(59,63,66)),
		color-stop(0.82, rgb(51,51,46))
);
}

#footer{

	position: absolute;
	top: 95%;
	left: 0;
	height: 5%;
	width: 100%;
	background-image: linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -o-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(59,63,66) 2%, rgb(59,63,66) 50%, rgb(51,51,46) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(59,63,66)),
		color-stop(0.5, rgb(59,63,66)),
		color-stop(0.82, rgb(51,51,46))
);
}

#navigation {
	/* (sidebar) */
    position: fixed;
    top: 20%;
    left:11%;
    width: 160px;
    height: 210px;
    font-family:Wingdings, Zapf Dingbats;
	color:#ffffff;
	font-size: 20px;
	text-align: right;
	border-color: #000000;



	background-color: #2e3133;

}




#nav2 {
	/* (sidebar edge) */
    position: fixed;
    top: 0;
    left: 20%;
    width: 5%;
    height: 100%;
    background-image: url("/static/images/black2.png");  
    background-repeat:repeat-y;
}

#menu {
	/* (tekstas) */
	position: fixed;
    top: 18%;
    left: 0;
    width: 20%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#a3a9aa;
	font-size: 18px;
	text-align: right;



}

#content {
	/* (white rectangle) */
    position: absolute;
    left: 25%;
    width: 60%;
    top: 10%;
    font-family:Wingdings, Zapf Dingbats;
	background-color:
	font-size: 110%;
	padding: 1%;
}

#content a:link{
	text-decoration: none;
	font-weight: normal; padding-right: .1%; padding-left: .5%;
	padding-top: .5%;
	background-color: #697c96;

}




a:link{
color:#a3a9aa;
background-size: 50% auto;
text-decoration: none;

}

a:hover{
text-decoration: none;
font-weight: normal; padding-right: .5%; padding-left: .5%;
padding-top: .5%;
background-color: #697c96;
}

a:visited{
color:#a3a9aa; text-decoration: none;
}

a:active{
color:#a3a9aa; text-decoration: none;
}
