<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">
	<div id=content>
		<p>
		 <span style="font-weight: bold">Hello there.</span><br><br>
		 My name is <a href="mailto:eimantas.stonys@gmail.com">Eimantas Stonys.</a><br>
		 I work as a graphic / layout designer<br>in a Norwegian company called
		 <a href="http://www.instant.no/">Instant Norge AS.</a><br>
		 I am also trying to learn <a href="http://www.python.org/">Python</a>
		 and its framework <a href="http://www.djangoproject.com/">Django</a>.
		</p>
	</div>